$white: #ffffff;
$black: #000000;
$deepblue: #2C3E50;
$green: #4CAF50;
$bannergreen: #18BC9C;
$red: #F44336;
$orange: #FF9800;

@mixin border-radius($radius){
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
}

body{
	background-image: url("/images/ground-bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
	background-attachment: fixed;
}
.main{
	background: rgba(255, 255, 255, 0.9);
    height: 100%;
    .navbar{
    	padding: 10px 20px 20px 20px;
    	background: $deepblue;
    	border: 0;
		@include border-radius(0);
    	.navbar-nav{
    		li{
    			a{
    				color: $white;
    				font-weight: 800;
    				font-size: 14px;
    			}
    		}
    		.active{
    			a{
					background: none;
					color: $orange;
    			}
    		}
    	}
    	.navbar-header{
    		.navbar-brand{
    			font-weight: 700;
    			color: $white;
    			font-size: 28px;
    		}
    		.navbar-collapse{
    			margin-top: 10px;
    		}
    	}
    }
}
.poll-item{
	@include border-radius(3px);
    color: $white;
    margin-bottom: 10px;
}
.item-type-label{
	width: 65px;
    background: rgba(0, 0, 0, 0.4);
    padding: 17px 15px;
    margin-right: 10px;
}
.results{
	.result-title{
		font-weight: bold;
	}
	.progress-bar-wrapper{
		.progress-bar-item {
			@extend .poll-item;
			padding: 0;
			.type-label{
				@extend .item-type-label;
			}
			.pg-bar{
				padding-top: 20px;
			}
			.votes{
				font-weight: bold;
			    font-size: 18px;
			    padding: 15px 10px;
			    width: 40px;
			}
		}
		.home{
			background: $green;
	    }
	    .away{
			background: $red;
	    }
	    .draw{
			background: $orange;
	    }
		md-progress-linear{
			.md-container{
				height: 15px;
				.md-bar{
					height: 15px;
				}
			}
		}
	}
}
.poll{
	margin-top: 80px;
    margin-bottom: 20px;
	.poll-wrapper{
		header{
			background: $bannergreen;
			padding: 40px;
			color: $white;
			overflow: hidden;
			h1{
				font-weight: bold;
			}
			.teams{
				margin-top: 20px;
				.team{
					padding: 15px;
				    @include border-radius(3px);
				    font-size: 18px;
				    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
					&.home{
						background: $green;
					}
					&.away{
						background: $red;
					}
				}
				.vs{
					padding: 15px;
					font-size: 18px;
				}
			}
			.game-name{
				overflow: hidden;
			}
		}
		.options-wrapper{
			padding: 25px 0;
			.radio-button-wrapper{
				@extend .poll-item;
			    &.home{
					background: $green;
			    }
			    &.away{
					background: $red;
			    }
			    &.draw{
					background: $orange;
			    }
			    .type-label{
					@extend .item-type-label;
			    }
				md-radio-button, .type-label{
					display: inline-block;
				}
			}
		}
	}
}
.about{
	padding: 80px 40px;
}