<div class="about">
	<h1>About the Sports Poll System</h1>
	<p>The application is to randomly load a team from the given games file and record the votes and show the number of votes recieved. </p>
	<h2>The Project</h2>
	<p>The following technologies have been used in the application</p>
	<ul>
		<li>Angular JS</li>
		<li>HTML5 / HTML5 Localstorage</li>
		<li>CSS3 / SCSS / Bootstrap</li>
		<li>Underscore JS</li>
		<li>Bootstrap JS</li>
	</ul>
	<p>The images are taken from the free sources</p>
	<h2>Instructions to run the project</h2>
	<ol type="number">
		<li>Clone the project to local machine</li>
		<li>Open the project folder in command line and type <code>npm install</code></li>
		<li>Once the dependencies installed, type <code>gulp server</code></li>
		<li>This will run the node server and open the website in the browser automatically</li>
		<li>You will be landing on the Poll page</li>
	</ol>
	<h2>How is the project works?</h2>
	<p>When you run the project for the first time, the sample data from the JSON file will be saved in the browser's <code>localStorage</code>. When you poll, the <code>Vote</code> button will be activated. When the vote is done, the result will be shown with the number of votes recived in a progress bar component. In the bottom, there's a <code>Next</code> button, when it get pressed, another game data randomly will be taken and loaded to the page. If you want, you can refresh the browser <code>refresh</code> button to load a new item randomly</p>
</div>