<div class="poll row">
    <div class="poll-wrapper">
        <header>
        	<div class="pull-right"><img src="/images/{{game.country}}.png" alt="{{game.country}}" width="32px" /></div>
            <h1 class="text-center">{{game.sport}}</h1>
            <div class="text-center"><img ng-if="game.sport" src="/images/icons/{{game.sport}}.png" width="54px" /></div>
            <div class="teams col-lg-8 col-md-12 col-sm-12 col-xs-12 col-lg-offset-2">
            	<div class="team home text-center col-lg-5 col-md-5 col-sm-5 col-xs-12">{{game.homeName}}</div>
				<div class="vs col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center">VS</div>
            	<div class="team away text-center col-lg-5 col-md-5 col-sm-5 col-xs-12">{{game.awayName}}</div>
            </div>
            <div class="col-lg-12 game-name"><h3 class="text-center">{{game.name}}</h3></div>
        </header>
        <div class="options-wrapper col-lg-4 col-md-6 col-sm-6 col-xs-10 col-lg-offset-4 col-md-offset-3 col-sm-offset-3 col-xs-offset-1" ng-if="!isResultsVisible">
            <h3>Which team will win the match?</h3>
            <md-radio-group ng-model="selectedTeam.team">
                <div class="radio-button-wrapper home">
                    <div class="type-label">Home</div>
                    <md-radio-button class="md-primary" value="home">{{game.homeName}}</md-radio-button>
                </div>
                <div class="radio-button-wrapper away">
                    <div class="type-label">Away</div>
                    <md-radio-button class="md-primary" value="away">{{game.awayName}}</md-radio-button>
                </div>
                <div class="radio-button-wrapper draw">
                    <div class="type-label">Draw</div>
                    <md-radio-button class="md-primary" value="draw">Draw</md-radio-button>
                </div>
            </md-radio-group>
        </div>
        <div class="results" ng-if="isResultsVisible">
            <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12 col-sm-offset-1 col-md-offset-2 col-lg-offset-3">
                <h2 class="text-center result-title">Results</h2>
                <div class="progress-bar-wrapper">
                    <div class="progress-bar-item col-lg-12 col-md-12 col-sm-12 col-xs-12 home">
                        <div class="type-label pull-left">Home</div>
                        <div class="pg-bar col-lg-9 col-md-9 col-xs-7 col-sm-9">
                            <md-progress-linear md-mode="determinate" value="{{game.homeVote}}"></md-progress-linear>
                        </div>
                        <div class="votes pull-right text-center">
                            {{game.homeVote}}
                        </div>
                    </div>
                    <div class="progress-bar-item col-lg-12 col-md-12 col-sm-12 col-xs-12 away">
                        <div class="type-label pull-left">Away</div>
                        <div class="pg-bar col-lg-9 col-md-9 col-xs-7 col-sm-9">
                            <md-progress-linear md-mode="determinate" value="{{game.awayVote}}"></md-progress-linear>
                        </div>
                        <div class="votes pull-right text-center">
                            {{game.awayVote}}
                        </div>
                    </div>
                    <div class="progress-bar-item col-lg-12 col-md-12 col-sm-12 col-xs-12 draw">
                        <div class="type-label pull-left">Draw</div>
                        <div class="pg-bar col-lg-9 col-md-9 col-xs-7 col-sm-9">
                            <md-progress-linear md-mode="determinate" value="{{game.drawVote}}"></md-progress-linear>
                        </div>
                        <div class="votes pull-right text-center">
                            {{game.drawVote}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <md-button ng-if="!isResultsVisible" class="md-raised md-primary" ng-click="vote(game, selectedTeam.team)" ng-disabled="!selectedTeam.team">Vote</md-button>
            <md-button ng-if="isResultsVisible" class="md-raised md-primary" ng-click="next()">Next</md-button>
        </div>
    </div>
</div>
